
# Keybindings
bindsym $mod+e exec --no-startup-id $term
bindsym $mod+c exec --no-startup-id $term -e fish -c "cd ~/.config/; ~/.config/personal/os_scripts/launch_tmux_folder.sh"
bindsym $mod+f exec --no-startup-id kitty -e fish -c  "~/.config/personal/os_scripts/launch_tmux_folder.sh"
bindsym $mod+x exec --no-startup-id $term -e fish -c "~/.config/personal/os_scripts/launch_ranger.sh"
bindsym $mod+Shift+f exec --no-startup-id MOZ_ENABLE_WAYLAND=1 firefox

bindsym $mod+Shift+q kill
bindsym $mod+r exec --no-startup-id $menu

bindsym $mod+Shift+o exec --no-startup-id MOZ_ENABLE_WAYLAND=1 firefox --new-window https://outlook.office.com/mail/inbox
bindsym $mod+Shift+r exec --no-startup-id MOZ_ENABLE_WAYLAND=1 firefox --new-window https://reddit.com
bindsym $mod+Shift+g exec --no-startup-id MOZ_ENABLE_WAYLAND=1 firefox --new-window https://github.com
bindsym $mod+Shift+z exec --no-startup-id MOZ_ENABLE_WAYLAND=1 firefox --new-window https://zoom.us/meeting#/upcoming
bindsym $mod+Shift+y exec --no-startup-id MOZ_ENABLE_WAYLAND=1 firefox --new-window https://youtube.com
bindsym $mod+Shift+a exec --no-startup-id MOZ_ENABLE_WAYLAND=1 firefox --new-window https://chat.openai.com
bindsym $mod+n exec --no-startup-id ~/.config/personal/os_scripts/start_notes.sh
bindsym $mod+Shift+c reload
bindsym $mod+Shift+m exec --no-startup-id i3-msg exit

bindsym $mod+Ctrl+w exec python ~/.config/personal/os_scripts/rotate_files.py ~/wallpaper ~/3\ Resources/Pictures/wallpapers/sfw/; reload
bindsym $mod+Mod1+w exec python ~/.config/personal/os_scripts/rotate_files.py ~/wallpaper ~/3\ Resources/Pictures/wallpapers/nsfw/landscape/; reload
